<div class="container">
    <div class="jogo">
        <div id="questao">

        </div>
        <div class="resposta">
            <p id = "parag"></p>
            <button id="b1" onclick="clicou()"></button>
            <button id="b2" onclick="clicou()"></button>
            <button id="b3" onclick="clicou()"></button>
            <button id="b4" onclick="clicou()"></button>
            <button id="b5" onclick="clicou()"></button>
        </div>
    </div>
</div>