<div class="container">
    <div class="jumbotron">
      <h1>Descomplexo</h1>
      <p>...</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia voluptate qui repellendus doloribus culpa. Veniam, tempora molestias vel voluptatem porro mollitia sit. Suscipit sed eos consequuntur repudiandae neque, quibusdam recusandae!</p>
    </div>
</div>
