<ul class="list-group">
    <li class="list-group-item"><a href="resol1.html">Razão, proporção e regra de três</a></li>
    <li class="list-group-item"><a href="resol2.html">Porcentagem, juros simples e composto</a></li>
    <li class="list-group-item"><a href="resol3.html">Áreas e perímetros</a></li>
</ul>
<div class="options">
    <label for=""></label>
    <div class="div-select">
        <select name="" id="select">
            <option value="">Selecine a operação</option>
            <option value="porcentagem.html">porcentagem</option>
            <option value="jurosS.html">Juros simples</option>
            <option value="jurosC.html">Juros composto</option>
        </select>
        <br/>
    </div>
</div>
<form id="form">
    <label for="">Montante</label>
    <input type="text" value="" id="m"><br/>
    <label for="">Capital</label>
    <input type="text" value="" id="c"><br/>
    <label for="">Taxa(%)</label>
    <input type="text" value="" id="i"><br/>
    <label for="">Juros</label>
    <input type="text" value="" id="j"><br/>
    <label for="">Tempo de aplicação</label>
    <input type="text" value="" id="t"><br/>
    <div class="resolucao"><strong>Resolução</strong>
        <div id="contem">
        
        </div>
    </div> 
    <input type="submit" value="enviar"/>
</form>
<script src="js/jurosS.js"></script>
<script src="js/redireciona.js"></script>
