<ul class="list-group">
    <li class="list-group-item"><a href="resol1.html">Razão, proporção e regra de três</a></li>
    <li class="list-group-item"><a href="#">Porcentagem, juros simples e composto</a></li>
    <li class="list-group-item"><a href="#">Áreas e perímetros</a></li>
</ul>
<div class="options">
    <label for="">Selecine a operação</label>
    <div class="div-select">
        <select name="" id="select">
            <option value="razao.html">Razão</option>
            <option value="proporcao.html">Proporção e Regra de três</option>
        </select>
        <br/>
    </div>
</div>
<form id="form">
    <label for="">x1</label>
    <input type="text" value="" id="x"><br/>
    <label for="">x2</label>
    <input type="number" value="" id="y" name="y">
    <div class="resolucao"><strong>Resolução</strong>
        <div id="contem">
        
        </div>
    </div> 
    <input type="submit" value="enviar"/>
</form>
<script src="js/razao.js"></script>
<script src="js/redireciona.js"></script>
