
<ul class="list-group">
    <li class="list-group-item"><a href="resol1.html">Razão, proporção e regra de três</a></li>
    <li class="list-group-item"><a href="resol2.html">Porcentagem, juros simples e composto</a></li>
    <li class="list-group-item"><a href="resol3.html">Áreas e perímetros</a></li>
</ul>
<div class="options">
    <label for=""></label>
    <div class="div-select">
        <select name="" id="select">
            <option value="">Selecine a operação</option>
            <option value="razao.html">Razão</option>
            <option value="proporcao.html">Proporção e regra de três</option>
        </select>
        <br/>
    </div>
</div>

<script src="js/redireciona.js"></script>


